@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype")
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  min-height: 100vh;
  background-image: url('../img/timer.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 6rem;
}

.title {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.timer {
  text-align: center;
}

.timer span {
  font-size: 1.3rem;
}
